{% extends "app/base.html" %}

{% block title %}
  <title>{{ title }}</title>
{% endblock %}

{% block custom_css %}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static "app/css/font-awesome.min.css" %}">
  <link rel="stylesheet" href="{% static "app/css/base.css" %}">
  <link rel="stylesheet" href="{% static "app/css/navigation.css" %}">
  <link rel="stylesheet" href="{% static "app/css/main_container.css" %}">
  <link rel="stylesheet" href="{% static "app/css/index_content.css" %}">

{% endblock %}


{% block content %}
{% include 'app/navigation.html' %}
{% include "app/index_content.html" %}
{% endblock %}


{% block custom_js %}
  <script type="text/javascript" src="{% static "app/js/jquery.js" %}"></script>
  <script type="text/javascript" src="{% static "app/js/Sortable.js" %}"></script>
  <script type="text/javascript" src="{% static "app/js/index_content.js" %}"></script>
{% endblock %}