{% extends "app/base.html" %}

{% block title %}
  <title>Note4s</title>
{% endblock %}

{% block custom_css %}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static "app/css/base.css" %}">
  <link rel="stylesheet" href="{% static "app/css/navigation.css" %}">
  <link rel="stylesheet" href="{% static "app/css/main_container.css" %}">
{% endblock %}


{% block content %}
{% include 'app/navigation.html' %}

{% include "app/index_content.html" %}
{% endblock %}


{% block custom_js %}
<script type="text/javascript" src="{% static "app/js/Sortable.js" %}"></script>
<script type="text/javascript">
'use strict';
var list = document.getElementById("main-sortable");
Sortable.create(list, {
  animation: 150,
  forceFallback: true,
});

var groups = document.getElementById("main-sortable").getElementsByClassName('item-sortable');
[].forEach.call(groups, function (el){
  Sortable.create(el, {
    group: 'groups',
    animation: 150,
    forceFallback: true,
  });
});
</script>
{% endblock %}