{% extends "app/main_container.html" %}

{% block main_pannel %}
  <ul class="content-tab">
    <li class="active">
      <a href="#">
        <button type="button" id="lock-btn" class="fa fa-lock"></button>
        &nbsp;My Notes
        <select class="notebook-select">
          <option value="volvo">我的 Python  笔记</option>
          <option value="saab">我的 Python  笔记笔记笔记1234</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
      </a>
    </li>
    <li><a href="#">Activity</a></li>
  </ul>
{% endblock %}

{% block right_pannel %}2{% endblock %}