{% extends "app/main_container.html" %}

{% block main_pannel %}
  <ul class="content-tab">
    <li class="active">
      <a href="#">
        <button type="button" id="lock-btn" class="fa fa-lock"></button>
        &nbsp;My Notes
        <select class="notebook-select">
          {% for note_book in note_books %}
            <option value={{ note_book.uuid_str }}>{{ note_book.name }}</option>
          {% endfor %}
          <option value="0">Add or Edit</option>
        </select>
      </a>
    </li>
    <li><a href="#">Activity</a></li>
  </ul>

  <div id="main-sortable">
    {% if session_note_dict %}
      {% for session, note_list in session_note_dict.items %}
        <div class="sub-sortable">
          <div class="title-sortable">{{ session.name }}</div>
          <div class="item-sortable">
            {% for note in note_list %}
              <li><a href="{{ note.link }}">{{ note.title }}</a></li>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    {% else %}
      TODO: empty page
    {% endif %}

  </div>
  <div class="add-session-container">
    New Session:
    <input/>
    <button>Add</button>
  </div>
{% endblock %}

{% block right_pannel %}2{% endblock %}