<div class="navigation-container">
  <div>
    <table class="navigation-table">
      <tbody>
      <tr>
        <td width="110" align="left">
          <a href="/" title="Note for Sharing">
            <span class="navigation-brand">Note4s</span>
          </a>
        </td>
        <td width="auto" align="left">
          <div>
            <form onsubmit="">
              <div class="navigation-search">
                <input type="text" maxlength="40" value="" />
              </div>
            </form>
          </div>
        </td>
        <td width="570" align="right" class="navigation-link">
          <a href="/create">Create Note</a>
            &nbsp;&nbsp;&nbsp;
          <a href="/profile">Me</a>
        </tr>
      </table>
    </div>
  </div>
</div>