{% extends "app/base.html" %}

{% block title %}
  <title>JeOam</title>
{% endblock %}

{% block custom_css %}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static "app/css/base.css" %}">
  <link rel="stylesheet" href="{% static "app/css/navigation.css" %}">
{% endblock %}


{% block content %}
{% include 'app/navigation.html' %}

  <div class="create-container">
    <div class="create-sub-container">
      <select class="select-session">
        <option value="volvo">我的 Python  笔记</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
      ->
      <select class="select-session">
        <option value="volvo">源码解析</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
      ->
      <span class="create-new-note">新笔记</span>
    </div>
    <div class="create-sub-container">
        <input class="note-title" placeholder="Note title..."/>
        <textarea class="note-detail" placeholder="Note detail..."></textarea>
    </div>
</div>
{% endblock %}


{% block custom_js %}
  <script type="text/javascript" src="{% static "app/js/jquery.js" %}"></script>
{% endblock %}