{% extends "app/base.html" %}

{% block title %}
  <title>JeOam</title>
{% endblock %}

{% block custom_css %}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static "app/css/font-awesome.min.css" %}">
  <link rel="stylesheet" href="{% static "app/css/tooltip.css" %}">
  <link rel="stylesheet" href="{% static "app/css/base.css" %}">
  <link rel="stylesheet" href="{% static "app/css/navigation.css" %}">
  <link rel="stylesheet" href="{% static "app/css/main_container.css" %}">
  <link rel="stylesheet" href="{% static "app/css/profile_container.css" %}">
  <link rel="stylesheet" href="{% static "app/css/contributions_graph.css" %}">
{% endblock %}


{% block content %}
  {% include 'app/navigation.html' %}
  {% include "app/profile_content.html" %}
{% endblock %}


{% block custom_js %}
  <script type="text/javascript" src="{% static "app/js/jquery.js" %}"></script>
{% endblock %}