body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

div {
  display: block;
}

.clearfix:before {
  display: table;
  content: "";
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}