.content-tab {
  border-bottom: 1px solid #ddd;
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}
.content-tab:before,
.content-tab:after {
  content: "";
  display: table;
}
.content-tab>li {
  float: left;
  position: relative;
  display: block;
  overflow: hidden;
}

.content-tab>li>a {
  padding: 7px 15px;
  border: 1px solid #ddd;
  min-width: 306px;
  background-color: #f6f6f6;
  text-align: center;
  color: #333;
  font-weight: bold;
  font-size: 14px;
  border-radius: 0;
  line-height: 1.5;
  position: relative;
  display: block;
}
.content-tab>li>a:first-of-type {
  margin-right: -1px;
}

.content-tab>li.active>a,
.content-tab>li.active>a:hover,
.content-tab>li.active>a:focus {
  color: #555;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}

.fa-lock:hover, .fa-unlock:hover{
  cursor: pointer;
}

#lock-btn {
  padding-left: 0;
  padding-right: 0;
  border: 0;
  background-color: rgba(255, 0, 0, 0);
  outline: none;
}

.notebook-select {
  background-color: #fff;
  max-width: 158px;
  height: 25px;
  color: #333;
  text-shadow: 0px 1px 0px #fff;
  text-decoration: none;
  border: 1px solid #e2e2e2;
  margin-right: 6px;
  margin-left: 6px;
  display: inline-block;
}
.notebook-select:focus {
  outline: none;
}

#main-sortable {
  border: 1px solid #e2e2e2;
  margin: 42px 8px 12px 8px;
  padding: 10px;
  text-align: left;
}

.sub-sortable {
  margin-bottom: 15px;
}
.cursor-move{
  cursor: move;
}
.title-sortable {
  margin-bottom: 15px;
  font-size: 15px;
}
.item-sortable > li {
  margin-bottom: 8px;
  margin-left: 15px;
  font-size: 14px;
}

.add-session-container {
  text-align: left;
  font-size: 13px;
  padding-left: 20px;
  margin-right: 5px;
}